<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 h-100 d-flex flex-column justify-content-evenly">
            <button mat-fab extended (click)="navDashboard()">
                <mat-icon>person_search</mat-icon>
                Pacientes
            </button>
            <button mat-fab extended>
                <mat-icon>bar_chart</mat-icon>
                Informes
            </button>
            <button mat-fab extended>
                <mat-icon>settings</mat-icon>
                Config
            </button>
            <button mat-fab extended (click)="logout()">
                <mat-icon>logout</mat-icon>
                Cerrar Sesion
            </button>
        </div>
    </div>
</div>