<div class="container-fluid">
    <div class="row align-items-center vh-100">
        <div class="col">
            <h1 class="text-left custom-primary-txt">Historial Evaluaciones</h1>
            <div class="row card-row">
                <mat-card class="custom-card" appearance="outlined" *ngFor="let eval of evaluaciones">
                    <mat-card-title> {{eval.fecha_evaluacion}} </mat-card-title>
                    <mat-card-content> 
                        {{eval.peso}} <br>
                        {{eval.talla}} <br>
                        {{eval.cod_imc}} <br>
                        {{eval.cod_grasa_corporal}} <br>
                        {{eval.cod_masa_muscular}} <br>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button (click)="ir_a_evaluacion(rut,eval.nro_evaluacion)">Ver Evaluacion</button>
                      </mat-card-actions>
                    </mat-card>
            </div>
        </div>
    </div>
</div>
