<p>verinforme works!</p>
<mat-sidenav-container class="vh-100">
    <mat-sidenav mode="side" opened>
        <app-navmenu></app-navmenu>
    </mat-sidenav>
    <mat-sidenav-content class="">
        <div class="container-fluid vh-100">
            <div class="row">
                <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 h-100 d-flex flex-column justify-content-center">
                    <p>aqui graficos de resultados</p>
                    <p>IMC: {{imc()}}</p>
                    <p>Grasa Corporal %: {{grasaCorporalPorcentaje()}}%</p>
                    <p>Grasa Corporal Kg: {{grasaCorporalKg()}}kg</p>
                    <p>Masa Muscular %: {{masaMuscularPorcentaje()}}%</p>
                    <p>Masa Muscular Kg: {{masaMuscularKg()}}kg</p>
                </div> -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100 d-flex flex-column justify-content-center my-1">
                    <canvasjs-chart #chartimc [options]="chart_imc" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100 d-flex flex-column justify-content-center my-1">
                    <canvasjs-chart #chartkg [options]="chart_kg" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100 d-flex flex-column justify-content-center my-1">
                    <canvasjs-chart #chartperc [options]="chart_perc" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100 d-flex flex-column justify-content-center my-1">
                    <canvasjs-chart #chartperi [options]="chart_perimetro"
                        [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100 d-flex flex-column justify-content-center my-1">
                    <canvasjs-chart #chartpli [options]="chart_pliegue"
                        [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100 d-flex flex-column justify-content-center my-1">
                    <button mat-flat-button (click)="generatePDF()">Generar Informe PDF</button>
                </div>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>