<div class="container-fluid">
    <div class="row align-items-center vh-100">
        <div class="col v-100">
            <div class="row my-3">
                <h1 class="text-left custom-primary-txt">Dashboard</h1>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Buscar Paciente">
                </div>
                <div class="col text-center">
                    <button class="btn btn-primary w-50">Nuevo Paciente</button>
                </div>
            </div>
        <div class="row v-50">
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">Some quick example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Some quick example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 3</h5>
                        <p class="card-text">Some quick example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 4</h5>
                        <p class="card-text">Some quick example text.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row v-50">
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 5</h5>
                        <p class="card-text">Some quick example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 6</h5>
                        <p class="card-text">Some quick example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 7</h5>
                        <p class="card-text">Some quick example text.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card 8</h5>
                        <p class="card-text">Some quick example text.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary">Ver Todos los Pacientes</button>
            </div>
        </div>
        </div>
    </div>
</div>